Flask
gunicorn
numpy
pandas
scikit-learn
scipy
joblib
tensorflow==2.16.1
keras
transformers==4.41.2
tokenizers
huggingface-hub
torch
matplotlib
Pillow
openpyxl
XlsxWriter
mysql-connector-python
nltk
requests
reportlab


